body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}

.first-section{
    width: 40%;
    float: left;
    padding-left: 7%;
    margin-left: 2%;
}
.first-section img{
    border-radius: 50%;
    height: 550px;
    padding-top: 40px;
   
    
}
#hire-btn{
    background: rgb(9, 90, 182);
    color:coral;
    border-radius: 5px;
}