body{
    font-family: 'Poppins', sans-serif;
    background-color: #E4E9BE;
}

h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}

.first-section{
    width: 40%;
    float: left;
    padding-left: 7%;
    margin-left: 2%;
}
.first-section img{
    border-radius: 50%;
    height: 550px;
    padding-top: 40px;
   
    
}
.hire-btn{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 5px;
    font-weight: 700;
    color: white;
    
}